/* (?<=\d)\s(?=\d) */

@media (prefers-color-scheme: dark){
  body {
    --md-sys-color-primary: 255, 181, 160;
    --md-sys-color-surface-tint: 255, 181, 160;
    --md-sys-color-on-primary: 86, 31, 15;
    --md-sys-color-primary-container: 114, 53, 35;
    --md-sys-color-on-primary-container: 255, 219, 209;
    --md-sys-color-secondary: 231, 189, 178;
    --md-sys-color-on-secondary: 68, 42, 34;
    --md-sys-color-secondary-container: 93, 64, 55;
    --md-sys-color-on-secondary-container: 255, 219, 209;
    --md-sys-color-tertiary: 216, 197, 141;
    --md-sys-color-on-tertiary: 59, 47, 5;
    --md-sys-color-tertiary-container: 83, 70, 25;
    --md-sys-color-on-tertiary-container: 245, 225, 167;
    --md-sys-color-error: 255, 180, 171;
    --md-sys-color-on-error: 105, 0, 5;
    --md-sys-color-error-container: 147, 0, 10;
    --md-sys-color-on-error-container: 255, 218, 214;
    --md-sys-color-background: 26, 17, 15;
    --md-sys-color-on-background: 241, 223, 218;
    --md-sys-color-surface: 26, 17, 15;
    --md-sys-color-on-surface: 241, 223, 218;
    --md-sys-color-surface-variant: 83, 67, 63;
    --md-sys-color-on-surface-variant: 216, 194, 188;
    --md-sys-color-outline: 160, 140, 135;
    --md-sys-color-outline-variant: 83, 67, 63;
    --md-sys-color-shadow: 0, 0, 0;
    --md-sys-color-scrim: 0, 0, 0;
    --md-sys-color-inverse-surface: 241, 223, 218;
    --md-sys-color-inverse-on-surface: 57, 46, 43;
    --md-sys-color-inverse-primary: 143, 76, 56;
    --md-sys-color-primary-fixed: 255, 219, 209;
    --md-sys-color-on-primary-fixed: 58, 11, 1;
    --md-sys-color-primary-fixed-dim: 255, 181, 160;
    --md-sys-color-on-primary-fixed-variant: 114, 53, 35;
    --md-sys-color-secondary-fixed: 255, 219, 209;
    --md-sys-color-on-secondary-fixed: 44, 21, 15;
    --md-sys-color-secondary-fixed-dim: 231, 189, 178;
    --md-sys-color-on-secondary-fixed-variant: 93, 64, 55;
    --md-sys-color-tertiary-fixed: 245, 225, 167;
    --md-sys-color-on-tertiary-fixed: 35, 27, 0;
    --md-sys-color-tertiary-fixed-dim: 216, 197, 141;
    --md-sys-color-on-tertiary-fixed-variant: 83, 70, 25;
    --md-sys-color-surface-dim: 26, 17, 15;
    --md-sys-color-surface-bright: 66, 55, 52;
    --md-sys-color-surface-container-lowest: 20, 12, 10;
    --md-sys-color-surface-container-low: 35, 25, 23;
    --md-sys-color-surface-container: 39, 29, 27;
    --md-sys-color-surface-container-high: 50, 40, 37;
    --md-sys-color-surface-container-highest: 61, 50, 47;
  }
  #logo{
    content: url('../assets/RAYNORWWWHITE.webp')
  }
}

@media (prefers-color-scheme: light){
  body {
    --md-sys-color-primary: 143, 76, 56;
    --md-sys-color-surface-tint: 143, 76, 56;
    --md-sys-color-on-primary: 255, 255, 255;
    --md-sys-color-primary-container: 255, 219, 209;
    --md-sys-color-on-primary-container: 58, 11, 1;
    --md-sys-color-secondary: 119, 87, 78;
    --md-sys-color-on-secondary: 255, 255, 255;
    --md-sys-color-secondary-container: 255, 219, 209;
    --md-sys-color-on-secondary-container: 44, 21, 15;
    --md-sys-color-tertiary: 108, 93, 47;
    --md-sys-color-on-tertiary: 255, 255, 255;
    --md-sys-color-tertiary-container: 245, 225, 167;
    --md-sys-color-on-tertiary-container: 35, 27, 0;
    --md-sys-color-error: 186, 26, 26;
    --md-sys-color-on-error: 255, 255, 255;
    --md-sys-color-error-container: 255, 218, 214;
    --md-sys-color-on-error-container: 65, 0, 2;
    --md-sys-color-background: 255, 248, 246;
    --md-sys-color-on-background: 35, 25, 23;
    --md-sys-color-surface: 255, 248, 246;
    --md-sys-color-on-surface: 35, 25, 23;
    --md-sys-color-surface-variant: 245, 222, 216;
    --md-sys-color-on-surface-variant: 83, 67, 63;
    --md-sys-color-outline: 133, 115, 110;
    --md-sys-color-outline-variant: 216, 194, 188;
    --md-sys-color-shadow: 0, 0, 0;
    --md-sys-color-scrim: 0, 0, 0;
    --md-sys-color-inverse-surface: 57, 46, 43;
    --md-sys-color-inverse-on-surface: 255, 237, 232;
    --md-sys-color-inverse-primary: 255, 181, 160;
    --md-sys-color-primary-fixed: 255, 219, 209;
    --md-sys-color-on-primary-fixed: 58, 11, 1;
    --md-sys-color-primary-fixed-dim: 255, 181, 160;
    --md-sys-color-on-primary-fixed-variant: 114, 53, 35;
    --md-sys-color-secondary-fixed: 255, 219, 209;
    --md-sys-color-on-secondary-fixed: 44, 21, 15;
    --md-sys-color-secondary-fixed-dim: 231, 189, 178;
    --md-sys-color-on-secondary-fixed-variant: 93, 64, 55;
    --md-sys-color-tertiary-fixed: 245, 225, 167;
    --md-sys-color-on-tertiary-fixed: 35, 27, 0;
    --md-sys-color-tertiary-fixed-dim: 216, 197, 141;
    --md-sys-color-on-tertiary-fixed-variant: 83, 70, 25;
    --md-sys-color-surface-dim: 232, 214, 210;
    --md-sys-color-surface-bright: 255, 248, 246;
    --md-sys-color-surface-container-lowest: 255, 255, 255;
    --md-sys-color-surface-container-low: 255, 241, 237;
    --md-sys-color-surface-container: 252, 234, 229;
    --md-sys-color-surface-container-high: 247, 228, 224;
    --md-sys-color-surface-container-highest: 241, 223, 218;
  }
  #logo{
    content: url('../assets/RAYNORWW1COLOR.webp')
  }
}
