@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    transition: .2s;

    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(var(--md-sys-color-surface));
    color: rgb(var(--md-sys-color-on-surface));

    display: flex;
    width: 100vw;
    height: 100vh;
}

/* #region Typesetting */
h1 {
    font-family: 'EB Garamond', serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: italic; 
    font-size: 72px;
    color: rgb(var(--md-sys-color-on-primary));
    text-align: center;
 }
 
 h2{
     font-family: 'EB Garamond', serif;
     font-optical-sizing: auto;
     font-weight: 600;
     font-style: normal;
     font-size: 28px;
     margin: 0px;
     color: rgb(var(--md-sys-color-primary))
 }
 
 h3{
     font-family: 'EB Garamond', serif;
     font-optical-sizing: auto;
     font-weight: 600;
     font-style: normal;
     font-size: 22px;
     color: rgb(var(--md-sys-color-secondary));
     margin: 0px;
 }
 
 p{
     font-family: 'Noto Sans';
     font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
     font-size: 14px;
     color: rgb(var(--md-sys-color-on-surface-variant))
 }
 
 a{
     text-decoration: none;
     color: rgb(var(--md-sys-color-primary));
 }
     a:hover{
         filter: brightness(1.08)
     }
 
 .monospace{
     font-family: 'Noto', monospace;
 }
 
 /* .phone-number::before{
     font-family: 'Material Symbols Rounded';
     content: "\e0b0";
     vertical-align: middle;
     padding-right: 5px;
 }
 
 .email::before{
     font-family: 'Material Symbols Rounded';
     content: "\e158";
     vertical-align: middle;
     padding-right: 5px;
 } */
 /* #endregion Typesetting */
 
/* #region Nav Drawer */
.m3-nav-drawer {
    width: 360px;
    height: 100vh;
    padding: 0px 28px 0px 28px;

    /* border-top-right-radius: 28px;
    border-bottom-right-radius: 28px; */

    background-color: rgb(var(--md-sys-color-surface-container-low));
    color: rgb(var(--md-sys-color-on-surface-variant));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 12px;
}

.m3-nav-drawer a{
    padding: 28px 0px 0px 0px;
    width: 260px;
}

.m3-nav-drawer .fab{
    width: 100%;
}

.m3-nav-drawer img{
    width: 100%;
}
/* #endregion Nav Drawer */

/* #region Buttons */
button {
        transition: all 0.2s;
        position: relative;
        overflow: hidden;
        border: none;
    }
    button:hover {
        cursor: pointer;
    }
    button::after {
        display: none;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 200%;
        aspect-ratio: 1 / 1;
        pointer-events: none;
        border-radius: 999px;
        background: rgba(255, 255, 255, .5);
    }
    button:focus::after {
        display: block;
        animation: scale_up 1000ms forwards;
    }
    @keyframes scale_up {
        0% {
            transform: translate(-50%, -50%) scale(0);
            opacity: 1;
        }
        100% {
            transform: translate(-50%, -50%) scale(2);
            opacity: 0;
        }
    }

.text-button{
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    height: 40px;
    width: 100%;
    padding: 0px 12px 0px 16px;
    
    background-color: transparent;
    color: rgb(var(--md-sys-color-on-surface));
    
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 8px;
    }
    .text-button:hover{
        background-color: rgba(var(--md-sys-color-primary), .08);
    }
    
.fab{
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    height: 56px;
    padding: 0px 12px 0px 16px;

    color: rgb(var(--md-sys-color-on-primary));
    background-color: rgb(var(--md-sys-color-primary));
    border-radius: 16px;
    box-shadow: 0px 0px 10px rgba(var(--md-sys-color-shadow), .08);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
    .fab:hover{
        box-shadow: 0px 0px 10px rgba(var(--md-sys-color-shadow), .2);
    }

.icon-button{
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    
    font-size: 24px;
    border-radius: 100%;
    background-color: transparent;
    color: rgb(var(--md-sys-color-on-surface-variant));
}
    .icon-button:hover{
        filter: brightness(1.05);
    }

.tonal-icon-button{
    border-radius: 100%;
    background-color: rgb(var(--md-sys-color-secondary-container));
    color: rgb(var(--md-sys-color-on-secondary-container))
}
    .tonal-icon-button:hover{
        filter: brightness(1.05);
    }


#back-to-top{
    position: absolute;
    bottom: 28px;
    right: 28px;

    width: 40px;
    height: 40px;
    
    border: 0px;
    border-radius: 100%;
}
/* #endregion Buttons */

/* #region Main Content Styles */
#main-content{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 28px;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 28px;
}

#main-content section{
    flex: 0 0 auto;
    min-height: 100px;
    padding: 28px;

    border-radius: 12px;
    background-color: rgb(var(--md-sys-color-surface-container-low));

    overflow:hidden;
}

#main-content #hero{
    background-image: url('assets/hero-section-background.webp');
    background-position: center;
    background-size: cover;

    min-height: 60vh;
    padding: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#main-content #hero h1{
    color: rgb(var(--md-sys-color-surface));
}

#main-content #hero button{
    width: 100px;
}

#main-content #faq{
    display:flex;
    flex-direction: column;
    gap: 14px;
    padding: 28px;
}

#main-content #faq .question{
    background-color: rgb(var(--md-sys-color-secondary-container));
    border-radius: 12px;
    padding: 14px;
}

#main-content #faq .question h3::before{
    font-family: 'Material Symbols Rounded';
    content: "\e887";
    vertical-align: -11.5%;
    padding-right: 5px;
}
/* #endregion Main Content Styles */


.surface-divider{
    width: auto;
    height: 2px;
    margin: 14px -28px 14px -28px;
    background-color: rgb(var(--md-sys-color-surface));
}

#settings{
    display: flex;
    position: absolute;
    bottom: 24px;
}

