/* MATERIAL THEME VARIABLES 
    --md-sys-color-primary
    --md-sys-color-on-primary
    --md-sys-color-primary-container
    --md-sys-color-on-primary-container
    --md-sys-color-secondary
    --md-sys-color-on-secondary
    --md-sys-color-secondary-container
    --md-sys-color-on-secondary-container
    --md-sys-color-tertiary
    --md-sys-color-on-tertiary
    --md-sys-color-tertiary-container
    --md-sys-color-on-tertiary-container
    --md-sys-color-error
    --md-sys-color-on-error
    --md-sys-color-error-container
    --md-sys-color-on-error-container
    --md-sys-color-background
    --md-sys-color-on-background
    --md-sys-color-surface
    --md-sys-color-on-surface
    --md-sys-color-surface-variant
    --md-sys-color-on-surface-variant
    --md-sys-color-outline
    --md-sys-color-outline-variant
    --md-sys-color-shadow
    --md-sys-color-scrim
    --md-sys-color-inverse-surface
    --md-sys-color-inverse-on-surface
    --md-sys-color-inverse-primary
*/

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

body{
    margin: 0;

    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(var(--md-sys-color-surface));
    color: rgb(var(--md-sys-color-on-surface));

    display: flex;
    width: 100vw;
    height: 100vh;
}

/* NAV DRAWER STYLES */
.m3-nav-drawer {
    width: 360px;
    height: 100vh;
    padding: 0px 28px 0px 28px;

    /* border-top-right-radius: 28px;
    border-bottom-right-radius: 28px; */

    background-color: rgb(var(--md-sys-color-surface-container-lowest));
    color: var(--md-sys-color-on-surface-variant);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.m3-nav-drawer a{
    padding: 28px;
}
/* END */

/* BUTTONS */
.text-button{
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    height: 40px;
    width: 100%;
    padding: 0px 12px 0px 16px;

    cursor: pointer;
    
    background-color: transparent;
    border: none;
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 8px;
}

.text-button:hover{
    background-color: rgba(var(--md-sys-color-primary), .08);
}

.fab{
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    height: 56px;
    width: 100%;
    padding: 0px 12px 0px 16px;

    color: rgb(var(--md-sys-color-primary));
    background-color: rgb(var(--md-sys-color-primary-container));
    border: none;
    border-radius: 16px;
    box-shadow: 0px 0px 10px rgba(var(--md-sys-color-shadow), .08);

    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.fab:hover{
    box-shadow: 0px 0px 10px rgba(var(--md-sys-color-shadow), .2);
}
/* END */

#back-to-top{
    position: absolute;
    bottom: 28px;
    right: 28px;

    width: 40px;
    height: 40px;
    
    border: 0px;
    border-radius: 100%;
}

/* Main Content Styles */
#main-content{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 28px;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 28px;
}

#main-content section{
    flex: 0 0 auto;
    min-height: 100px;
    padding: 28px;

    border-radius: 28px;
    background-color: var(--md-sys-color-surface-container-low);

    overflow:hidden;
}

#main-content #hero{
    background-image: url('/public/assets/clearwater.jpg');
    background-position: center;

    height: 600px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* END */
