/* #region Buttons */
button {
    transition: all 0.2s;
    position: relative;
    overflow: hidden;
    border: none;
}

button:hover {
    cursor: pointer;
}

button::after {
    display: none;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200%;
    aspect-ratio: 1 / 1;
    pointer-events: none;
    border-radius: 999px;
    background: rgba(255, 255, 255, .5);
}

button:focus::after {
    display: block;
    animation: scale_up 1000ms forwards;
}

@keyframes scale_up {
    0% {
        transform: translate(-50%, -50%) scale(0);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}

.text-button {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    height: 40px;
    width: 100%;
    padding: 0px 12px 0px 16px;

    background-color: transparent;
    color: rgb(var(--md-sys-color-on-surface));

    border-radius: 100px;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 8px;
}

.text-button:hover {
    background-color: rgba(var(--md-sys-color-primary), .08);
}

.filled-button {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    padding: 0px 24px 0px 16px;

    background-color: rgb(var(--md-sys-color-primary));
    color: rgb(var(--md-sys-color-on-primary));

    border-radius: 100px;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 8px;
}

.filled-button:hover {
    filter: brightness(1.05);
}

.filled-button .material-symbols-rounded {
    font-size: 18px;
}

.outlined-button {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    padding: 0px 24px 0px 16px;

    background-color: transparent;
    color: rgb(var(--md-sys-color-primary));

    border-radius: 100px;
    border: 1px solid rgb(var(--md-sys-color-outline));

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 8px;
}

.outlined-button:hover {
    background-color: rgba(var(--md-sys-color-primary), .08);
}

.outlined-button .material-symbols-rounded {
    font-size: 18px;
}

.fab {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    height: 56px;
    padding: 0px 12px 0px 16px;

    color: rgb(var(--md-sys-color-on-primary));
    background-color: rgb(var(--md-sys-color-primary));
    border-radius: 16px;
    box-shadow: 0px 0px 10px rgba(var(--md-sys-color-shadow), .08);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.fab:hover {
    filter: brightness(1.05);
}

.icon-button {
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;
    border-radius: 100%;
    background-color: transparent;
    color: rgb(var(--md-sys-color-on-surface-variant));
}

.icon-button:hover {
    background-color: rgba(var(--md-sys-color-primary), .08);
}

.tonal-icon-button {
    border-radius: 100%;
    background-color: rgb(var(--md-sys-color-secondary-container));
    color: rgb(var(--md-sys-color-on-secondary-container))
}

.tonal-icon-button:hover {
    filter: brightness(1.05);
}


#back-to-top {
    position: absolute;
    bottom: 28px;
    right: 28px;

    width: 40px;
    height: 40px;

    border: 0px;
    border-radius: 100%;
}

/* #endregion Buttons */