/* (?<=\d)\s(?=\d) */

/* @media (prefers-color-scheme: dark) {
    body {
        --md-sys-color-primary: 148, 205, 247;
        --md-sys-color-surface-tint: 148, 205, 247;
        --md-sys-color-on-primary: 0, 52, 77;
        --md-sys-color-primary-container: 0, 76, 110;
        --md-sys-color-on-primary-container: 201, 230, 255;
        --md-sys-color-secondary: 183, 201, 217;
        --md-sys-color-on-secondary: 33, 50, 63;
        --md-sys-color-secondary-container: 56, 73, 86;
        --md-sys-color-on-secondary-container: 211, 229, 245;
        --md-sys-color-tertiary: 206, 192, 232;
        --md-sys-color-on-tertiary: 53, 43, 75;
        --md-sys-color-tertiary-container: 76, 65, 99;
        --md-sys-color-on-tertiary-container: 234, 221, 255;
        --md-sys-color-error: 255, 180, 171;
        --md-sys-color-on-error: 105, 0, 5;
        --md-sys-color-error-container: 147, 0, 10;
        --md-sys-color-on-error-container: 255, 218, 214;
        --md-sys-color-background: 16, 20, 23;
        --md-sys-color-on-background: 223, 227, 232;
        --md-sys-color-surface: 16, 20, 23;
        --md-sys-color-on-surface: 223, 227, 232;
        --md-sys-color-surface-variant: 65, 71, 77;
        --md-sys-color-on-surface-variant: 193, 199, 206;
        --md-sys-color-outline: 139, 145, 152;
        --md-sys-color-outline-variant: 65, 71, 77;
        --md-sys-color-shadow: 0, 0, 0;
        --md-sys-color-scrim: 0, 0, 0;
        --md-sys-color-inverse-surface: 223, 227, 232;
        --md-sys-color-inverse-on-surface: 45, 49, 53;
        --md-sys-color-inverse-primary: 37, 100, 137;
        --md-sys-color-primary-fixed: 201, 230, 255;
        --md-sys-color-on-primary-fixed: 0, 30, 47;
        --md-sys-color-primary-fixed-dim: 148, 205, 247;
        --md-sys-color-on-primary-fixed-variant: 0, 76, 110;
        --md-sys-color-secondary-fixed: 211, 229, 245;
        --md-sys-color-on-secondary-fixed: 11, 29, 41;
        --md-sys-color-secondary-fixed-dim: 183, 201, 217;
        --md-sys-color-on-secondary-fixed-variant: 56, 73, 86;
        --md-sys-color-tertiary-fixed: 234, 221, 255;
        --md-sys-color-on-tertiary-fixed: 31, 22, 53;
        --md-sys-color-tertiary-fixed-dim: 206, 192, 232;
        --md-sys-color-on-tertiary-fixed-variant: 76, 65, 99;
        --md-sys-color-surface-dim: 16, 20, 23;
        --md-sys-color-surface-bright: 53, 58, 62;
        --md-sys-color-surface-container-lowest: 10, 15, 18;
        --md-sys-color-surface-container-low: 24, 28, 32;
        --md-sys-color-surface-container: 28, 32, 36;
        --md-sys-color-surface-container-high: 38, 42, 46;
        --md-sys-color-surface-container-highest: 49, 53, 57;

    }

    #logo {
        content: url('../assets/RAYNORWWWHITE.webp')
    }
}

@media (prefers-color-scheme: light) {
    body {
        --md-sys-color-primary: 37, 100, 137;
        --md-sys-color-surface-tint: 37, 100, 137;
        --md-sys-color-on-primary: 255, 255, 255;
        --md-sys-color-primary-container: 201, 230, 255;
        --md-sys-color-on-primary-container: 0, 30, 47;
        --md-sys-color-secondary: 79, 96, 110;
        --md-sys-color-on-secondary: 255, 255, 255;
        --md-sys-color-secondary-container: 211, 229, 245;
        --md-sys-color-on-secondary-container: 11, 29, 41;
        --md-sys-color-tertiary: 100, 89, 124;
        --md-sys-color-on-tertiary: 255, 255, 255;
        --md-sys-color-tertiary-container: 234, 221, 255;
        --md-sys-color-on-tertiary-container: 31, 22, 53;
        --md-sys-color-error: 186, 26, 26;
        --md-sys-color-on-error: 255, 255, 255;
        --md-sys-color-error-container: 255, 218, 214;
        --md-sys-color-on-error-container: 65, 0, 2;
        --md-sys-color-background: 247, 249, 254;
        --md-sys-color-on-background: 24, 28, 32;
        --md-sys-color-surface: 247, 249, 254;
        --md-sys-color-on-surface: 24, 28, 32;
        --md-sys-color-surface-variant: 221, 227, 234;
        --md-sys-color-on-surface-variant: 65, 71, 77;
        --md-sys-color-outline: 113, 120, 126;
        --md-sys-color-outline-variant: 193, 199, 206;
        --md-sys-color-shadow: 0, 0, 0;
        --md-sys-color-scrim: 0, 0, 0;
        --md-sys-color-inverse-surface: 45, 49, 53;
        --md-sys-color-inverse-on-surface: 238, 241, 246;
        --md-sys-color-inverse-primary: 148, 205, 247;
        --md-sys-color-primary-fixed: 201, 230, 255;
        --md-sys-color-on-primary-fixed: 0, 30, 47;
        --md-sys-color-primary-fixed-dim: 148, 205, 247;
        --md-sys-color-on-primary-fixed-variant: 0, 76, 110;
        --md-sys-color-secondary-fixed: 211, 229, 245;
        --md-sys-color-on-secondary-fixed: 11, 29, 41;
        --md-sys-color-secondary-fixed-dim: 183, 201, 217;
        --md-sys-color-on-secondary-fixed-variant: 56, 73, 86;
        --md-sys-color-tertiary-fixed: 234, 221, 255;
        --md-sys-color-on-tertiary-fixed: 31, 22, 53;
        --md-sys-color-tertiary-fixed-dim: 206, 192, 232;
        --md-sys-color-on-tertiary-fixed-variant: 76, 65, 99;
        --md-sys-color-surface-dim: 215, 218, 223;
        --md-sys-color-surface-bright: 247, 249, 254;
        --md-sys-color-surface-container-lowest: 255, 255, 255;
        --md-sys-color-surface-container-low: 241, 244, 249;
        --md-sys-color-surface-container: 235, 238, 243;
        --md-sys-color-surface-container-high: 229, 232, 237;
        --md-sys-color-surface-container-highest: 223, 227, 232;
    }

    #logo {
        content: url('../assets/RAYNORWW1COLOR.webp')
    }
}

@media (prefers-color-scheme: dark) and (prefers-contrast: more) {
    body {
        --md-sys-color-primary: 249, 251, 255;
        --md-sys-color-surface-tint: 148, 205, 247;
        --md-sys-color-on-primary: 0, 0, 0;
        --md-sys-color-primary-container: 152, 209, 251;
        --md-sys-color-on-primary-container: 0, 0, 0;
        --md-sys-color-secondary: 249, 251, 255;
        --md-sys-color-on-secondary: 0, 0, 0;
        --md-sys-color-secondary-container: 187, 205, 221;
        --md-sys-color-on-secondary-container: 0, 0, 0;
        --md-sys-color-tertiary: 255, 249, 255;
        --md-sys-color-on-tertiary: 0, 0, 0;
        --md-sys-color-tertiary-container: 210, 196, 237;
        --md-sys-color-on-tertiary-container: 0, 0, 0;
        --md-sys-color-error: 255, 249, 249;
        --md-sys-color-on-error: 0, 0, 0;
        --md-sys-color-error-container: 255, 186, 177;
        --md-sys-color-on-error-container: 0, 0, 0;
        --md-sys-color-background: 16, 20, 23;
        --md-sys-color-on-background: 223, 227, 232;
        --md-sys-color-surface: 16, 20, 23;
        --md-sys-color-on-surface: 255, 255, 255;
        --md-sys-color-surface-variant: 65, 71, 77;
        --md-sys-color-on-surface-variant: 249, 251, 255;
        --md-sys-color-outline: 197, 203, 210;
        --md-sys-color-outline-variant: 197, 203, 210;
        --md-sys-color-shadow: 0, 0, 0;
        --md-sys-color-scrim: 0, 0, 0;
        --md-sys-color-inverse-surface: 223, 227, 232;
        --md-sys-color-inverse-on-surface: 0, 0, 0;
        --md-sys-color-inverse-primary: 0, 45, 68;
        --md-sys-color-primary-fixed: 209, 234, 255;
        --md-sys-color-on-primary-fixed: 0, 0, 0;
        --md-sys-color-primary-fixed-dim: 152, 209, 251;
        --md-sys-color-on-primary-fixed-variant: 0, 24, 39;
        --md-sys-color-secondary-fixed: 215, 233, 250;
        --md-sys-color-on-secondary-fixed: 0, 0, 0;
        --md-sys-color-secondary-fixed-dim: 187, 205, 221;
        --md-sys-color-on-secondary-fixed-variant: 6, 24, 35;
        --md-sys-color-tertiary-fixed: 237, 226, 255;
        --md-sys-color-on-tertiary-fixed: 0, 0, 0;
        --md-sys-color-tertiary-fixed-dim: 210, 196, 237;
        --md-sys-color-on-tertiary-fixed-variant: 26, 17, 47;
        --md-sys-color-surface-dim: 16, 20, 23;
        --md-sys-color-surface-bright: 53, 58, 62;
        --md-sys-color-surface-container-lowest: 10, 15, 18;
        --md-sys-color-surface-container-low: 24, 28, 32;
        --md-sys-color-surface-container: 28, 32, 36;
        --md-sys-color-surface-container-high: 38, 42, 46;
        --md-sys-color-surface-container-highest: 49, 53, 57;
    }
}

@media (prefers-color-scheme: dark) and (prefers-contrast: less) {
    body {
        --md-sys-color-primary: 152, 209, 251;
        --md-sys-color-surface-tint: 148, 205, 247;
        --md-sys-color-on-primary: 0, 24, 39;
        --md-sys-color-primary-container: 94, 151, 190;
        --md-sys-color-on-primary-container: 0, 0, 0;
        --md-sys-color-secondary: 187, 205, 221;
        --md-sys-color-on-secondary: 6, 24, 35;
        --md-sys-color-secondary-container: 129, 147, 162;
        --md-sys-color-on-secondary-container: 0, 0, 0;
        --md-sys-color-tertiary: 210, 196, 237;
        --md-sys-color-on-tertiary: 26, 17, 47;
        --md-sys-color-tertiary-container: 151, 139, 176;
        --md-sys-color-on-tertiary-container: 0, 0, 0;
        --md-sys-color-error: 255, 186, 177;
        --md-sys-color-on-error: 55, 0, 1;
        --md-sys-color-error-container: 255, 84, 73;
        --md-sys-color-on-error-container: 0, 0, 0;
        --md-sys-color-background: 16, 20, 23;
        --md-sys-color-on-background: 223, 227, 232;
        --md-sys-color-surface: 16, 20, 23;
        --md-sys-color-on-surface: 249, 251, 255;
        --md-sys-color-surface-variant: 65, 71, 77;
        --md-sys-color-on-surface-variant: 197, 203, 210;
        --md-sys-color-outline: 157, 163, 170;
        --md-sys-color-outline-variant: 126, 132, 138;
        --md-sys-color-shadow: 0, 0, 0;
        --md-sys-color-scrim: 0, 0, 0;
        --md-sys-color-inverse-surface: 223, 227, 232;
        --md-sys-color-inverse-on-surface: 38, 42, 46;
        --md-sys-color-inverse-primary: 0, 77, 112;
        --md-sys-color-primary-fixed: 201, 230, 255;
        --md-sys-color-on-primary-fixed: 0, 19, 31;
        --md-sys-color-primary-fixed-dim: 148, 205, 247;
        --md-sys-color-on-primary-fixed-variant: 0, 58, 86;
        --md-sys-color-secondary-fixed: 211, 229, 245;
        --md-sys-color-on-secondary-fixed: 2, 19, 30;
        --md-sys-color-secondary-fixed-dim: 183, 201, 217;
        --md-sys-color-on-secondary-fixed-variant: 39, 56, 69;
        --md-sys-color-tertiary-fixed: 234, 221, 255;
        --md-sys-color-on-tertiary-fixed: 21, 11, 42;
        --md-sys-color-tertiary-fixed-dim: 206, 192, 232;
        --md-sys-color-on-tertiary-fixed-variant: 59, 49, 81;
        --md-sys-color-surface-dim: 16, 20, 23;
        --md-sys-color-surface-bright: 53, 58, 62;
        --md-sys-color-surface-container-lowest: 10, 15, 18;
        --md-sys-color-surface-container-low: 24, 28, 32;
        --md-sys-color-surface-container: 28, 32, 36;
        --md-sys-color-surface-container-high: 38, 42, 46;
        --md-sys-color-surface-container-highest: 49, 53, 57;
    }
}

@media (prefers-color-scheme: light) and (prefers-contrast: more) {
    body {
        --md-sys-color-primary: 0, 37, 56;
        --md-sys-color-surface-tint: 37, 100, 137;
        --md-sys-color-on-primary: 255, 255, 255;
        --md-sys-color-primary-container: 0, 71, 104;
        --md-sys-color-on-primary-container: 255, 255, 255;
        --md-sys-color-secondary: 19, 36, 48;
        --md-sys-color-on-secondary: 255, 255, 255;
        --md-sys-color-secondary-container: 52, 69, 82;
        --md-sys-color-on-secondary-container: 255, 255, 255;
        --md-sys-color-tertiary: 38, 29, 60;
        --md-sys-color-on-tertiary: 255, 255, 255;
        --md-sys-color-tertiary-container: 72, 61, 94;
        --md-sys-color-on-tertiary-container: 255, 255, 255;
        --md-sys-color-error: 78, 0, 2;
        --md-sys-color-on-error: 255, 255, 255;
        --md-sys-color-error-container: 140, 0, 9;
        --md-sys-color-on-error-container: 255, 255, 255;
        --md-sys-color-background: 247, 249, 254;
        --md-sys-color-on-background: 24, 28, 32;
        --md-sys-color-surface: 247, 249, 254;
        --md-sys-color-on-surface: 0, 0, 0;
        --md-sys-color-surface-variant: 221, 227, 234;
        --md-sys-color-on-surface-variant: 30, 37, 42;
        --md-sys-color-outline: 61, 68, 73;
        --md-sys-color-outline-variant: 61, 68, 73;
        --md-sys-color-shadow: 0, 0, 0;
        --md-sys-color-scrim: 0, 0, 0;
        --md-sys-color-inverse-surface: 45, 49, 53;
        --md-sys-color-inverse-on-surface: 255, 255, 255;
        --md-sys-color-inverse-primary: 220, 238, 255;
        --md-sys-color-primary-fixed: 0, 71, 104;
        --md-sys-color-on-primary-fixed: 255, 255, 255;
        --md-sys-color-primary-fixed-dim: 0, 48, 72;
        --md-sys-color-on-primary-fixed-variant: 255, 255, 255;
        --md-sys-color-secondary-fixed: 52, 69, 82;
        --md-sys-color-on-secondary-fixed: 255, 255, 255;
        --md-sys-color-secondary-fixed-dim: 30, 47, 59;
        --md-sys-color-on-secondary-fixed-variant: 255, 255, 255;
        --md-sys-color-tertiary-fixed: 72, 61, 94;
        --md-sys-color-on-tertiary-fixed: 255, 255, 255;
        --md-sys-color-tertiary-fixed-dim: 49, 39, 71;
        --md-sys-color-on-tertiary-fixed-variant: 255, 255, 255;
        --md-sys-color-surface-dim: 215, 218, 223;
        --md-sys-color-surface-bright: 247, 249, 254;
        --md-sys-color-surface-container-lowest: 255, 255, 255;
        --md-sys-color-surface-container-low: 241, 244, 249;
        --md-sys-color-surface-container: 235, 238, 243;
        --md-sys-color-surface-container-high: 229, 232, 237;
        --md-sys-color-surface-container-highest: 223, 227, 232;
    }
}

@media (prefers-color-scheme: light) and (prefers-contrast: less) {
    body {
        --md-sys-color-primary: 0, 71, 104;
        --md-sys-color-surface-tint: 37, 100, 137;
        --md-sys-color-on-primary: 255, 255, 255;
        --md-sys-color-primary-container: 63, 122, 160;
        --md-sys-color-on-primary-container: 255, 255, 255;
        --md-sys-color-secondary: 52, 69, 82;
        --md-sys-color-on-secondary: 255, 255, 255;
        --md-sys-color-secondary-container: 101, 119, 133;
        --md-sys-color-on-secondary-container: 255, 255, 255;
        --md-sys-color-tertiary: 72, 61, 94;
        --md-sys-color-on-tertiary: 255, 255, 255;
        --md-sys-color-tertiary-container: 122, 111, 147;
        --md-sys-color-on-tertiary-container: 255, 255, 255;
        --md-sys-color-error: 140, 0, 9;
        --md-sys-color-on-error: 255, 255, 255;
        --md-sys-color-error-container: 218, 52, 46;
        --md-sys-color-on-error-container: 255, 255, 255;
        --md-sys-color-background: 247, 249, 254;
        --md-sys-color-on-background: 24, 28, 32;
        --md-sys-color-surface: 247, 249, 254;
        --md-sys-color-on-surface: 24, 28, 32;
        --md-sys-color-surface-variant: 221, 227, 234;
        --md-sys-color-on-surface-variant: 61, 68, 73;
        --md-sys-color-outline: 89, 96, 102;
        --md-sys-color-outline-variant: 117, 123, 130;
        --md-sys-color-shadow: 0, 0, 0;
        --md-sys-color-scrim: 0, 0, 0;
        --md-sys-color-inverse-surface: 45, 49, 53;
        --md-sys-color-inverse-on-surface: 238, 241, 246;
        --md-sys-color-inverse-primary: 148, 205, 247;
        --md-sys-color-primary-fixed: 63, 122, 160;
        --md-sys-color-on-primary-fixed: 255, 255, 255;
        --md-sys-color-primary-fixed-dim: 34, 97, 134;
        --md-sys-color-on-primary-fixed-variant: 255, 255, 255;
        --md-sys-color-secondary-fixed: 101, 119, 133;
        --md-sys-color-on-secondary-fixed: 255, 255, 255;
        --md-sys-color-secondary-fixed-dim: 77, 94, 108;
        --md-sys-color-on-secondary-fixed-variant: 255, 255, 255;
        --md-sys-color-tertiary-fixed: 122, 111, 147;
        --md-sys-color-on-tertiary-fixed: 255, 255, 255;
        --md-sys-color-tertiary-fixed-dim: 97, 86, 121;
        --md-sys-color-on-tertiary-fixed-variant: 255, 255, 255;
        --md-sys-color-surface-dim: 215, 218, 223;
        --md-sys-color-surface-bright: 247, 249, 254;
        --md-sys-color-surface-container-lowest: 255, 255, 255;
        --md-sys-color-surface-container-low: 241, 244, 249;
        --md-sys-color-surface-container: 235, 238, 243;
        --md-sys-color-surface-container-high: 229, 232, 237;
        --md-sys-color-surface-container-highest: 223, 227, 232;
    }
} */

.light {
    --md-sys-color-primary: 37, 100, 137;
    --md-sys-color-surface-tint: 37, 100, 137;
    --md-sys-color-on-primary: 255, 255, 255;
    --md-sys-color-primary-container: 201, 230, 255;
    --md-sys-color-on-primary-container: 0, 30, 47;
    --md-sys-color-secondary: 79, 96, 110;
    --md-sys-color-on-secondary: 255, 255, 255;
    --md-sys-color-secondary-container: 211, 229, 245;
    --md-sys-color-on-secondary-container: 11, 29, 41;
    --md-sys-color-tertiary: 100, 89, 124;
    --md-sys-color-on-tertiary: 255, 255, 255;
    --md-sys-color-tertiary-container: 234, 221, 255;
    --md-sys-color-on-tertiary-container: 31, 22, 53;
    --md-sys-color-error: 186, 26, 26;
    --md-sys-color-on-error: 255, 255, 255;
    --md-sys-color-error-container: 255, 218, 214;
    --md-sys-color-on-error-container: 65, 0, 2;
    --md-sys-color-background: 247, 249, 254;
    --md-sys-color-on-background: 24, 28, 32;
    --md-sys-color-surface: 247, 249, 254;
    --md-sys-color-on-surface: 24, 28, 32;
    --md-sys-color-surface-variant: 221, 227, 234;
    --md-sys-color-on-surface-variant: 65, 71, 77;
    --md-sys-color-outline: 113, 120, 126;
    --md-sys-color-outline-variant: 193, 199, 206;
    --md-sys-color-shadow: 0, 0, 0;
    --md-sys-color-scrim: 0, 0, 0;
    --md-sys-color-inverse-surface: 45, 49, 53;
    --md-sys-color-inverse-on-surface: 238, 241, 246;
    --md-sys-color-inverse-primary: 148, 205, 247;
    --md-sys-color-primary-fixed: 201, 230, 255;
    --md-sys-color-on-primary-fixed: 0, 30, 47;
    --md-sys-color-primary-fixed-dim: 148, 205, 247;
    --md-sys-color-on-primary-fixed-variant: 0, 76, 110;
    --md-sys-color-secondary-fixed: 211, 229, 245;
    --md-sys-color-on-secondary-fixed: 11, 29, 41;
    --md-sys-color-secondary-fixed-dim: 183, 201, 217;
    --md-sys-color-on-secondary-fixed-variant: 56, 73, 86;
    --md-sys-color-tertiary-fixed: 234, 221, 255;
    --md-sys-color-on-tertiary-fixed: 31, 22, 53;
    --md-sys-color-tertiary-fixed-dim: 206, 192, 232;
    --md-sys-color-on-tertiary-fixed-variant: 76, 65, 99;
    --md-sys-color-surface-dim: 215, 218, 223;
    --md-sys-color-surface-bright: 247, 249, 254;
    --md-sys-color-surface-container-lowest: 255, 255, 255;
    --md-sys-color-surface-container-low: 241, 244, 249;
    --md-sys-color-surface-container: 235, 238, 243;
    --md-sys-color-surface-container-high: 229, 232, 237;
    --md-sys-color-surface-container-highest: 223, 227, 232;
}

.light-medium-contrast {
    --md-sys-color-primary: 0, 71, 104;
    --md-sys-color-surface-tint: 37, 100, 137;
    --md-sys-color-on-primary: 255, 255, 255;
    --md-sys-color-primary-container: 63, 122, 160;
    --md-sys-color-on-primary-container: 255, 255, 255;
    --md-sys-color-secondary: 52, 69, 82;
    --md-sys-color-on-secondary: 255, 255, 255;
    --md-sys-color-secondary-container: 101, 119, 133;
    --md-sys-color-on-secondary-container: 255, 255, 255;
    --md-sys-color-tertiary: 72, 61, 94;
    --md-sys-color-on-tertiary: 255, 255, 255;
    --md-sys-color-tertiary-container: 122, 111, 147;
    --md-sys-color-on-tertiary-container: 255, 255, 255;
    --md-sys-color-error: 140, 0, 9;
    --md-sys-color-on-error: 255, 255, 255;
    --md-sys-color-error-container: 218, 52, 46;
    --md-sys-color-on-error-container: 255, 255, 255;
    --md-sys-color-background: 247, 249, 254;
    --md-sys-color-on-background: 24, 28, 32;
    --md-sys-color-surface: 247, 249, 254;
    --md-sys-color-on-surface: 24, 28, 32;
    --md-sys-color-surface-variant: 221, 227, 234;
    --md-sys-color-on-surface-variant: 61, 68, 73;
    --md-sys-color-outline: 89, 96, 102;
    --md-sys-color-outline-variant: 117, 123, 130;
    --md-sys-color-shadow: 0, 0, 0;
    --md-sys-color-scrim: 0, 0, 0;
    --md-sys-color-inverse-surface: 45, 49, 53;
    --md-sys-color-inverse-on-surface: 238, 241, 246;
    --md-sys-color-inverse-primary: 148, 205, 247;
    --md-sys-color-primary-fixed: 63, 122, 160;
    --md-sys-color-on-primary-fixed: 255, 255, 255;
    --md-sys-color-primary-fixed-dim: 34, 97, 134;
    --md-sys-color-on-primary-fixed-variant: 255, 255, 255;
    --md-sys-color-secondary-fixed: 101, 119, 133;
    --md-sys-color-on-secondary-fixed: 255, 255, 255;
    --md-sys-color-secondary-fixed-dim: 77, 94, 108;
    --md-sys-color-on-secondary-fixed-variant: 255, 255, 255;
    --md-sys-color-tertiary-fixed: 122, 111, 147;
    --md-sys-color-on-tertiary-fixed: 255, 255, 255;
    --md-sys-color-tertiary-fixed-dim: 97, 86, 121;
    --md-sys-color-on-tertiary-fixed-variant: 255, 255, 255;
    --md-sys-color-surface-dim: 215, 218, 223;
    --md-sys-color-surface-bright: 247, 249, 254;
    --md-sys-color-surface-container-lowest: 255, 255, 255;
    --md-sys-color-surface-container-low: 241, 244, 249;
    --md-sys-color-surface-container: 235, 238, 243;
    --md-sys-color-surface-container-high: 229, 232, 237;
    --md-sys-color-surface-container-highest: 223, 227, 232;
}

.light-high-contrast {
    --md-sys-color-primary: 0, 37, 56;
    --md-sys-color-surface-tint: 37, 100, 137;
    --md-sys-color-on-primary: 255, 255, 255;
    --md-sys-color-primary-container: 0, 71, 104;
    --md-sys-color-on-primary-container: 255, 255, 255;
    --md-sys-color-secondary: 19, 36, 48;
    --md-sys-color-on-secondary: 255, 255, 255;
    --md-sys-color-secondary-container: 52, 69, 82;
    --md-sys-color-on-secondary-container: 255, 255, 255;
    --md-sys-color-tertiary: 38, 29, 60;
    --md-sys-color-on-tertiary: 255, 255, 255;
    --md-sys-color-tertiary-container: 72, 61, 94;
    --md-sys-color-on-tertiary-container: 255, 255, 255;
    --md-sys-color-error: 78, 0, 2;
    --md-sys-color-on-error: 255, 255, 255;
    --md-sys-color-error-container: 140, 0, 9;
    --md-sys-color-on-error-container: 255, 255, 255;
    --md-sys-color-background: 247, 249, 254;
    --md-sys-color-on-background: 24, 28, 32;
    --md-sys-color-surface: 247, 249, 254;
    --md-sys-color-on-surface: 0, 0, 0;
    --md-sys-color-surface-variant: 221, 227, 234;
    --md-sys-color-on-surface-variant: 30, 37, 42;
    --md-sys-color-outline: 61, 68, 73;
    --md-sys-color-outline-variant: 61, 68, 73;
    --md-sys-color-shadow: 0, 0, 0;
    --md-sys-color-scrim: 0, 0, 0;
    --md-sys-color-inverse-surface: 45, 49, 53;
    --md-sys-color-inverse-on-surface: 255, 255, 255;
    --md-sys-color-inverse-primary: 220, 238, 255;
    --md-sys-color-primary-fixed: 0, 71, 104;
    --md-sys-color-on-primary-fixed: 255, 255, 255;
    --md-sys-color-primary-fixed-dim: 0, 48, 72;
    --md-sys-color-on-primary-fixed-variant: 255, 255, 255;
    --md-sys-color-secondary-fixed: 52, 69, 82;
    --md-sys-color-on-secondary-fixed: 255, 255, 255;
    --md-sys-color-secondary-fixed-dim: 30, 47, 59;
    --md-sys-color-on-secondary-fixed-variant: 255, 255, 255;
    --md-sys-color-tertiary-fixed: 72, 61, 94;
    --md-sys-color-on-tertiary-fixed: 255, 255, 255;
    --md-sys-color-tertiary-fixed-dim: 49, 39, 71;
    --md-sys-color-on-tertiary-fixed-variant: 255, 255, 255;
    --md-sys-color-surface-dim: 215, 218, 223;
    --md-sys-color-surface-bright: 247, 249, 254;
    --md-sys-color-surface-container-lowest: 255, 255, 255;
    --md-sys-color-surface-container-low: 241, 244, 249;
    --md-sys-color-surface-container: 235, 238, 243;
    --md-sys-color-surface-container-high: 229, 232, 237;
    --md-sys-color-surface-container-highest: 223, 227, 232;
}

.dark {
    --md-sys-color-primary: 148, 205, 247;
    --md-sys-color-surface-tint: 148, 205, 247;
    --md-sys-color-on-primary: 0, 52, 77;
    --md-sys-color-primary-container: 0, 76, 110;
    --md-sys-color-on-primary-container: 201, 230, 255;
    --md-sys-color-secondary: 183, 201, 217;
    --md-sys-color-on-secondary: 33, 50, 63;
    --md-sys-color-secondary-container: 56, 73, 86;
    --md-sys-color-on-secondary-container: 211, 229, 245;
    --md-sys-color-tertiary: 206, 192, 232;
    --md-sys-color-on-tertiary: 53, 43, 75;
    --md-sys-color-tertiary-container: 76, 65, 99;
    --md-sys-color-on-tertiary-container: 234, 221, 255;
    --md-sys-color-error: 255, 180, 171;
    --md-sys-color-on-error: 105, 0, 5;
    --md-sys-color-error-container: 147, 0, 10;
    --md-sys-color-on-error-container: 255, 218, 214;
    --md-sys-color-background: 16, 20, 23;
    --md-sys-color-on-background: 223, 227, 232;
    --md-sys-color-surface: 16, 20, 23;
    --md-sys-color-on-surface: 223, 227, 232;
    --md-sys-color-surface-variant: 65, 71, 77;
    --md-sys-color-on-surface-variant: 193, 199, 206;
    --md-sys-color-outline: 139, 145, 152;
    --md-sys-color-outline-variant: 65, 71, 77;
    --md-sys-color-shadow: 0, 0, 0;
    --md-sys-color-scrim: 0, 0, 0;
    --md-sys-color-inverse-surface: 223, 227, 232;
    --md-sys-color-inverse-on-surface: 45, 49, 53;
    --md-sys-color-inverse-primary: 37, 100, 137;
    --md-sys-color-primary-fixed: 201, 230, 255;
    --md-sys-color-on-primary-fixed: 0, 30, 47;
    --md-sys-color-primary-fixed-dim: 148, 205, 247;
    --md-sys-color-on-primary-fixed-variant: 0, 76, 110;
    --md-sys-color-secondary-fixed: 211, 229, 245;
    --md-sys-color-on-secondary-fixed: 11, 29, 41;
    --md-sys-color-secondary-fixed-dim: 183, 201, 217;
    --md-sys-color-on-secondary-fixed-variant: 56, 73, 86;
    --md-sys-color-tertiary-fixed: 234, 221, 255;
    --md-sys-color-on-tertiary-fixed: 31, 22, 53;
    --md-sys-color-tertiary-fixed-dim: 206, 192, 232;
    --md-sys-color-on-tertiary-fixed-variant: 76, 65, 99;
    --md-sys-color-surface-dim: 16, 20, 23;
    --md-sys-color-surface-bright: 53, 58, 62;
    --md-sys-color-surface-container-lowest: 10, 15, 18;
    --md-sys-color-surface-container-low: 24, 28, 32;
    --md-sys-color-surface-container: 28, 32, 36;
    --md-sys-color-surface-container-high: 38, 42, 46;
    --md-sys-color-surface-container-highest: 49, 53, 57;
}

.dark-medium-contrast {
    --md-sys-color-primary: 152, 209, 251;
    --md-sys-color-surface-tint: 148, 205, 247;
    --md-sys-color-on-primary: 0, 24, 39;
    --md-sys-color-primary-container: 94, 151, 190;
    --md-sys-color-on-primary-container: 0, 0, 0;
    --md-sys-color-secondary: 187, 205, 221;
    --md-sys-color-on-secondary: 6, 24, 35;
    --md-sys-color-secondary-container: 129, 147, 162;
    --md-sys-color-on-secondary-container: 0, 0, 0;
    --md-sys-color-tertiary: 210, 196, 237;
    --md-sys-color-on-tertiary: 26, 17, 47;
    --md-sys-color-tertiary-container: 151, 139, 176;
    --md-sys-color-on-tertiary-container: 0, 0, 0;
    --md-sys-color-error: 255, 186, 177;
    --md-sys-color-on-error: 55, 0, 1;
    --md-sys-color-error-container: 255, 84, 73;
    --md-sys-color-on-error-container: 0, 0, 0;
    --md-sys-color-background: 16, 20, 23;
    --md-sys-color-on-background: 223, 227, 232;
    --md-sys-color-surface: 16, 20, 23;
    --md-sys-color-on-surface: 249, 251, 255;
    --md-sys-color-surface-variant: 65, 71, 77;
    --md-sys-color-on-surface-variant: 197, 203, 210;
    --md-sys-color-outline: 157, 163, 170;
    --md-sys-color-outline-variant: 126, 132, 138;
    --md-sys-color-shadow: 0, 0, 0;
    --md-sys-color-scrim: 0, 0, 0;
    --md-sys-color-inverse-surface: 223, 227, 232;
    --md-sys-color-inverse-on-surface: 38, 42, 46;
    --md-sys-color-inverse-primary: 0, 77, 112;
    --md-sys-color-primary-fixed: 201, 230, 255;
    --md-sys-color-on-primary-fixed: 0, 19, 31;
    --md-sys-color-primary-fixed-dim: 148, 205, 247;
    --md-sys-color-on-primary-fixed-variant: 0, 58, 86;
    --md-sys-color-secondary-fixed: 211, 229, 245;
    --md-sys-color-on-secondary-fixed: 2, 19, 30;
    --md-sys-color-secondary-fixed-dim: 183, 201, 217;
    --md-sys-color-on-secondary-fixed-variant: 39, 56, 69;
    --md-sys-color-tertiary-fixed: 234, 221, 255;
    --md-sys-color-on-tertiary-fixed: 21, 11, 42;
    --md-sys-color-tertiary-fixed-dim: 206, 192, 232;
    --md-sys-color-on-tertiary-fixed-variant: 59, 49, 81;
    --md-sys-color-surface-dim: 16, 20, 23;
    --md-sys-color-surface-bright: 53, 58, 62;
    --md-sys-color-surface-container-lowest: 10, 15, 18;
    --md-sys-color-surface-container-low: 24, 28, 32;
    --md-sys-color-surface-container: 28, 32, 36;
    --md-sys-color-surface-container-high: 38, 42, 46;
    --md-sys-color-surface-container-highest: 49, 53, 57;
}

.dark-high-contrast {
    --md-sys-color-primary: 249, 251, 255;
    --md-sys-color-surface-tint: 148, 205, 247;
    --md-sys-color-on-primary: 0, 0, 0;
    --md-sys-color-primary-container: 152, 209, 251;
    --md-sys-color-on-primary-container: 0, 0, 0;
    --md-sys-color-secondary: 249, 251, 255;
    --md-sys-color-on-secondary: 0, 0, 0;
    --md-sys-color-secondary-container: 187, 205, 221;
    --md-sys-color-on-secondary-container: 0, 0, 0;
    --md-sys-color-tertiary: 255, 249, 255;
    --md-sys-color-on-tertiary: 0, 0, 0;
    --md-sys-color-tertiary-container: 210, 196, 237;
    --md-sys-color-on-tertiary-container: 0, 0, 0;
    --md-sys-color-error: 255, 249, 249;
    --md-sys-color-on-error: 0, 0, 0;
    --md-sys-color-error-container: 255, 186, 177;
    --md-sys-color-on-error-container: 0, 0, 0;
    --md-sys-color-background: 16, 20, 23;
    --md-sys-color-on-background: 223, 227, 232;
    --md-sys-color-surface: 16, 20, 23;
    --md-sys-color-on-surface: 255, 255, 255;
    --md-sys-color-surface-variant: 65, 71, 77;
    --md-sys-color-on-surface-variant: 249, 251, 255;
    --md-sys-color-outline: 197, 203, 210;
    --md-sys-color-outline-variant: 197, 203, 210;
    --md-sys-color-shadow: 0, 0, 0;
    --md-sys-color-scrim: 0, 0, 0;
    --md-sys-color-inverse-surface: 223, 227, 232;
    --md-sys-color-inverse-on-surface: 0, 0, 0;
    --md-sys-color-inverse-primary: 0, 45, 68;
    --md-sys-color-primary-fixed: 209, 234, 255;
    --md-sys-color-on-primary-fixed: 0, 0, 0;
    --md-sys-color-primary-fixed-dim: 152, 209, 251;
    --md-sys-color-on-primary-fixed-variant: 0, 24, 39;
    --md-sys-color-secondary-fixed: 215, 233, 250;
    --md-sys-color-on-secondary-fixed: 0, 0, 0;
    --md-sys-color-secondary-fixed-dim: 187, 205, 221;
    --md-sys-color-on-secondary-fixed-variant: 6, 24, 35;
    --md-sys-color-tertiary-fixed: 237, 226, 255;
    --md-sys-color-on-tertiary-fixed: 0, 0, 0;
    --md-sys-color-tertiary-fixed-dim: 210, 196, 237;
    --md-sys-color-on-tertiary-fixed-variant: 26, 17, 47;
    --md-sys-color-surface-dim: 16, 20, 23;
    --md-sys-color-surface-bright: 53, 58, 62;
    --md-sys-color-surface-container-lowest: 10, 15, 18;
    --md-sys-color-surface-container-low: 24, 28, 32;
    --md-sys-color-surface-container: 28, 32, 36;
    --md-sys-color-surface-container-high: 38, 42, 46;
    --md-sys-color-surface-container-highest: 49, 53, 57;
}