@media only screen and (max-width: 1400px) {
    .m3-nav-drawer{
        display: none;
    }
    h1{
        font-size: 3rem;
    }
    #image{
        display: none;
    }
    blockquote{
        margin: 0;
        padding:1.2em 0px 1.2em 75px;
    }
    #main-content #venue .section-body #calypso{
        grid-template-columns: 1fr;
    }
    #main-content #venue .section-body #sandpearl{
        grid-template-columns: 1fr;
    }
    #main-content #itinerary #itinerary-body{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .dropdown{
        pointer-events: none;
    }
    .question{
        height: fit-content !important;
    }
    .dropdown .material-symbols-rounded{
        display: none;
    }
}