@media only screen and (max-width: 1200px) {
    .m3-nav-drawer{
        display: none;
    }
    h1{
        font-size: 3rem;
    }
    #image{
        display: none;
    }
    

    blockquote{
        margin: 0;
        padding:1.2em 0px 1.2em 75px;
    }
    #itinerary-body{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .dropdown{
        pointer-events: none;
    }
    .question{
        height: fit-content !important;
    }
    .dropdown .material-symbols-rounded{
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .subsection-image{
        display: none;
    }
    .image-subsection{
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-height: 600px) {
    #settings{
        display: none;
    }
}