/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */

body{
    margin: 0;
    transition: .2s;

    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(var(--md-sys-color-surface));
    color: rgb(var(--md-sys-color-on-surface));

    display: flex;
    width: 100vw;
    height: 100vh;
}

/* #region Nav Drawer */
.m3-nav-drawer {
    box-sizing: border-box;
    min-width: 360px;
    height: 100vh;
    padding: 0px 28px 0px 28px;

    /* border-top-right-radius: 28px;
    border-bottom-right-radius: 28px; */

    background-color: rgb(var(--md-sys-color-surface-container-low));
    color: rgb(var(--md-sys-color-on-surface-variant));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 12px;
}

.m3-nav-drawer a{
    padding: 28px 0px 0px 0px;
    width: 260px;
}

.m3-nav-drawer .fab{
    width: 100%;
}

.m3-nav-drawer img{
    width: 100%;
}
/* #endregion Nav Drawer */

/* #region Main Content Styles */
#main-content{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 28px;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 28px;
}

#main-content section{
    flex: 0 0 auto;
    min-height: 100px;
    /* padding: 28px; */

    border-radius: 12px;
    background-color: rgb(var(--md-sys-color-surface-container-low));

    display: flex;
    flex-direction: column;
    overflow:hidden;
}

#main-content section .section-header{
    width: fit-content;
    padding: 28px;
}

#main-content section .section-body{
    padding: 28px;
}

#main-content #hero{
    background-image: url('../assets/hero-section-background.webp');
    background-position: center;
    background-size: cover;

    color: white;

    min-height: 60vh;
    padding: 80px 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px
}

#main-content #hero h1{
    margin: 50px 0 0 0;
    color: white;
}

#main-content #hero p{
    max-width: 800px;
    text-align: center;
    font-size: 18px;
    color: white;
}

#main-content #hero button{
    min-width: 300px;
}

/* #region Itinerary */

#main-content #itinerary #itinerary-body{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 14px;
    padding: 28px;
}

#main-content #itinerary #itinerary-body .day {
    background-color: rgb(var(--md-sys-color-surface-container));
    border-radius: 12px;
    padding: 14px;

    display: flex;
    flex-direction: column;
}

#main-content #itinerary #itinerary-body .day .event-header{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 22px;;
}

/* #endregion Itinerary */

/* #region Venue */

#main-content #venue .section-body{
    padding: 0;
}

#main-content #venue .section-body #sandpearl{
    padding: 28px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* background-color: rgb(var(--md-sys-color-surface-container)); */
    overflow: hidden;
}

#main-content #venue .section-body #sandpearl #image{
    background-image: url('../assets/sandpearl-resort.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 12px;
}

#main-content #venue .section-body #calypso{
    padding: 28px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* background-color: rgb(var(--md-sys-color-surface-container)); */
    overflow: hidden;
}

#main-content #venue .section-body #calypso img{
    border-radius: 12px;
    width: 100%;
}

#main-content #venue .section-body #calypso #image{
    background-image: url('../assets/calypso.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 12px;
}

/* #endregion Venue */

/* #region Travel */

#main-content #travel .section-body{
    padding: 0;
}

#main-content #travel .section-body #st-pete{
    padding: 28px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* background-color: rgb(var(--md-sys-color-surface-container)); */
    overflow: hidden;
}

#main-content #travel .section-body #tampa{
    padding: 28px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    /* background-color: rgb(var(--md-sys-color-surface-container)); */
    overflow: hidden;
}

/* #endregion Travel */

/* #region FAQ */
#main-content #faq .section-body{
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 28px;
}

#main-content #faq .question{
    background-color: rgb(var(--md-sys-color-surface-container));
    border-radius: 12px;
    padding: 14px;
}

#main-content #faq .question p{
    color: rgb(var(--md-sys-color-on-surface)) ;
}

#main-content #faq .question h3{
    color: rgb(var(--md-sys-color-primary)) ;
}

    #main-content #faq .question h3::before{
    font-family: 'Material Symbols Rounded';
    content: "\e887";
    vertical-align: -11.5%;
    padding-right: 5px;
    }
/* #endregion FAQ */

.section-divider{
    display: block;
    width: 100%;
    height: 2px;
    /* margin: 14px -28px 14px -28px; */
    background-color: rgb(var(--md-sys-color-surface));
}

.spacer {
    width: 100%;
    height: 12px;
}

.subsection{
    display: flex;
    flex-direction: column;
}

#settings{
    display: flex;
    position: absolute;
    bottom: 24px;
}

.flex-container-row{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

/* #endregion Main Content Styles */


