/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap'); */

body{
    margin: 0;
    transition: .2s;

    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(var(--md-sys-color-surface));
    color: rgb(var(--md-sys-color-on-surface));

    display: flex;
    width: 100vw;
    height: 100vh;
}

/* #region Nav Drawer */
.m3-nav-drawer {
    box-sizing: border-box;
    width: 20vw;
    max-width: 360px;
    height: 100vh;
    min-height: 670px;
    padding: 18px;

    background-color: rgb(var(--md-sys-color-surface-container-low));
    color: rgb(var(--md-sys-color-on-surface-variant));

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;
    gap: 12px;
}

.m3-nav-drawer .fab{
    margin-top: 12px;
    width: 100%;
}

.m3-nav-drawer img{
    box-sizing: border-box;
    padding: 12px;
    width: auto;
    max-height: 100px;
}

/* #endregion Nav Drawer */

/* #region Main Content Styles */
#main-content{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    padding: 28px;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    gap: 28px;
}

#main-content section{
    flex: 0 0 auto;
    min-height: 100px;
    /* padding: 28px; */

    border-radius: 12px;
    background-color: rgb(var(--md-sys-color-surface-container-low));

    display: flex;
    flex-direction: column;
    overflow:hidden;
}

.section-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: fit-content;
    padding: 28px;
}

.image-subsection{
    padding: 28px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "content image";
    gap: 12px;
}

.subsection-body{
    grid-area: content;
    align-self: flex-start;
}

.subsection-image{
    background-size: cover;
    background-position: center;
    border-radius: 18px;
}

.subsection{
    padding: 28px;
    gap: 12px;
    display: flex;
    flex-direction: column;
}

.section-divider{
    display: block;
    width: 100%;
    height: 2px;
    /* margin: 14px -28px 14px -28px; */
    background-color: rgb(var(--md-sys-color-surface));
    padding: 0;
}

.spacer {
    width: 100%;
    height: 12px;
}

.flex-container-row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
}

.link-copy{
    cursor: pointer;
}

.link-copy .material-symbols-rounded{
    transition: .2s;
    color: rgb(var(--md-sys-color-on-surface-variant));
    pointer-events: none;
}

.dropdown {
    cursor: pointer;
}

.dropdown .material-symbols-rounded{
    transition: .2s;
    color: rgb(var(--md-sys-color-on-surface-variant))
}

.hidden{
    transition: .2s;
    color: transparent !important;
}

.rotate90{
    transform: rotate(90deg)
}

/* #endregion Main Content Styles */

#main-content #hero{
    background-image: url('../assets/hero-section-background.webp');
    background-position: center;
    background-size: cover;

    color: white;

    min-height: 60vh;
    padding: 80px 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px
}

#main-content #hero h1{
    margin: 50px 0 0 0;
    color: white;
}

#main-content #hero p{
    max-width: 650px;
    text-align: center;
    font-size: 18px;
    color: white;
}

#main-content #hero button{
    min-width: 300px;
}

#itinerary-body{
    padding: 28px;
    gap: 28px;
    display: flex;
    flex-direction: column;
}

#itinerary-days{
    display: flex;
    gap: 28px;
    flex-wrap: wrap;
}

#sandpearl-image{
    background-image: url('../assets/sandpearl-resort.jpg');
}

#calypso-image{
    background-image: url('../assets/calypso.jpg');
}

#aquarium-image{
    background-image: url('../assets/cwa.jpg');
}

#segway-image{
    background-image: url('../assets/segway.jpg');
}

#escape-room-image{
    background-image: url('../assets/escape-room.webp');
}

#sea-screamers-image{
    background-image: url('../assets/sea-screamers.jpg');
}

#pier60-image{
    background-image: url('../assets/pier60.jpg');
}

#moccasin-lake-image{
    background-image: url('../assets/moccasin-lake.jpg');
}

.booking-warning{
    color: rgb(var(--md-sys-color-on-tertiary-container));
    background-color: rgb(var(--md-sys-color-tertiary-container));
    border-radius: 8px;
    padding: 5px 10px 5px 8px;
    margin: 18px 0px;
    width: fit-content;

    display: flex;
    gap: 5px;
    align-items: center;

    font-size: .8rem;
}

.booking-warning .material-symbols-rounded{
    font-size: inherit;
}

.chips{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin: 18px 0px;
}

.chip{
    background-color: rgb(var(--md-sys-color-secondary-container));
    color: rgb(var(--md-sys-color-on-secondary-container));
    border-radius: 8px;
    padding: 5px 10px 5px 5px ;
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 1rem;
}

.chip .material-symbols-rounded{
    font-size: inherit;
}

#faq-body{
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 28px;
}

.question{
    overflow-y: hidden;
    background-color: rgb(var(--md-sys-color-surface-container));
    border-radius: 12px;
    padding: 14px;
    height: 26px;
}

.question p{
    color: rgb(var(--md-sys-color-on-surface)) ;
}

.question h3{
    color: rgb(var(--md-sys-color-primary)) ;
}
    .question h3::before{
        font-family: 'Material Symbols Rounded';
        content: "\e887";
        vertical-align: -11.5%;
        padding-right: 5px;
    }

#settings{
    display: flex;
    position: absolute;
    bottom: 24px;
}


