
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Elsie:wght@400;900&family=Hind:wght@300;400;500;600;700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0px;
    background-color: rgb(23, 30, 68);
}

section{
    width: 100vw;
    height: 100vh;


    display: grid;
    grid-template-rows: 1fr 4fr;
    justify-content: center;
    align-items: center;
}

img{
    padding: 100px;
    height: 20vh;
}

#text{
    font-family: 'Hind', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: start;
    text-align: center;
}